#quizBox {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#startTimer {
    border: solid;
    border-color: green;
    padding: 10px 15px;
    color: tomato;
}

#questions {
    margin: 15px;
}

#countdown {
    float: right
}

button {
border-radius: 8px;
}



